body, html {
    font-family: "Segoe UI", sans-serif;
    margin: 0;			
    padding: 0;			
}

.vse {
    display: grid;
    grid-template-areas: 
    'glava glava glava'
    'menu menu menu'	      		
    'vsebina vsebina vsebina'
    'vsebina vsebina vsebina'	
    'vsebina vsebina vsebina'			
    'noga noga noga';									
    grid-template-rows: auto auto 1fr auto ;
    grid-template-columns: 1fr 1fr;
    background-color: #212225;  
    min-height: 100vh;
}

.glava{
    grid-area: glava;
    display: flex;			
	flex-direction: row;
    padding: 4px;    
}

.menu{
    grid-area: menu;
    display:flex;  
    background-color: #2C2D30;  
    padding: 10px;
    justify-content: center;

}

.vsebina{
    grid-area: vsebina;
    background-color: white;
}

.noga{
    grid-area: noga;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
}

/*Glava*/
.odjava{
    height: fit-content;
    padding: 2px;
    font-size: 20px;
    padding-right: 5px;
    padding-top: 4px;
}

.odjavaA{
    color: white;
    text-decoration: none;
}

.odjavaA:hover{
    padding: 1px;
    border-radius: 4px;
    background-color: #787c87;
    align-items: center;

}

.flexfill{
    flex-grow: 1;
}

/*Menu*/
.menuItem{
    color: white;
    font-size: 20px;
}

.menuItemA{
    color: white;
    text-decoration: none;
}

.menuItemA:hover{
    padding: 1px;
    border-radius: 4px;
    background-color: #787c87;
    align-items: center;
}

/*Vsebina*/

.tablediv{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.tabela > * > tr > td {
    border-bottom: solid 3px gray;
}

.dodajanje{
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.dodajanje{
    background-color: #F98012;
    color: white;
    text-decoration: none;
    font-size: 25px;   
    border-radius: 10px; 
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.dodajanje:hover {
    background-color: #f0ccaa;
    color: #F98012;
    border-radius: 10px;    

}

.dodajanjediv{
    padding-left: 30px;
    padding-right: 30px;    
    padding-bottom: 3vh;
    display: flex;
    justify-content: center;
}

.uspesno{
    color: green; 
    font-size: 18px; 
    font-weight: 700;
    background-color: #ccffcc; 
    padding-top: 4px;
    padding-bottom: 4px;    
    border: 1px solid green;
    border-radius: 10px;  
}

.uspesnododano{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vh;
}

td{
    text-align: center;
}

.levo_table_border{
    border-left: 1px solid black;
}

/*Noga*/
.nogaMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.nogaMenuItem{
    color: white;
    font-size: 20px;
}

.nogaMenuItemA{
    color: white;
    padding: 1px;
    text-decoration: none;
}

.nogaMenuItemA:hover{
    border-radius: 4px;
    background-color: #787c87;
    align-items: center;
}