body, html {
    font-family: "Segoe UI Symbol", "Segoe UI", sans-serif;
    margin: 0;			
    padding: 0;			
}

.vse {
    display: grid;
    grid-template-areas: 
    'glava glava glava'
    'menu menu menu'	      		
    'vsebina vsebina vsebina'
    'vsebina vsebina vsebina'	
    'vsebina vsebina vsebina'			
    'noga noga noga';									
    grid-template-rows: auto auto 1fr auto ;
    grid-template-columns: 1fr 1fr;
    background-color: #212225;  
    min-height: 100vh;
}

.glava{
    grid-area: glava;
    display: flex;			
	flex-direction: row;
    padding: 4px;    
}

.menu{
    grid-area: menu;
    display:flex;  
    background-color: #2C2D30;  
    padding: 10px;
    justify-content: center;

}

.vsebina{
    grid-area: vsebina;
    background-color: white;    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.noga{
    grid-area: noga;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
}

/*Glava*/
.odjava{
    height: fit-content;
    padding: 2px;
    font-size: 20px;
    padding-right: 5px;
    padding-top: 4px;
}

.odjavaA{
    color: white;
    text-decoration: none;
}

.odjavaA:hover{
    padding: 1px;
    border-radius: 4px;
    background-color: #787c87;
    align-items: center;
}

.flexfill{
    flex-grow: 1;
}

/*Menu*/
.menuItem{
    color: white;
    font-size: 20px;
}

.menuItemA{
    color: white;
    text-decoration: none;
}

.menuItemA:hover{
    padding: 1px;
    border-radius: 4px;
    background-color: #787c87;
    align-items: center;
}

/*Vsebina*/

.racuninaslov{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #F68D2F;
}

.formdiv{
    padding-top: 20px;
}

.divdatuma{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.divdatum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divdatum:nth-child(1){
    padding-right: 6vw;
}

.strankadiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4vh;
}

.izdelekdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4vh;
}

.submitdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4vh;
}

input[type=submit] {
    border-radius: 5px;
    border: none;
    padding: 4px;
    color: white;
    background-color: #fa9638;
    text-align: center;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: #F98012;
}

.napaka{
    color:red;
    font-size: 20px;
    padding-top: 3vh;
    text-align: center;
    display: none;
}

.prazno{
    font-size: 20px;
    padding-top: 3vh;
    text-align: center;
    display: none;
}

.izdelki{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4vh;
    display: none;
}

.izdelek{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding-right: 3vw;  
}

.izdelek:last-child{
    padding-right: 0;
}

.izdelek_ime{
    font-size: 18px;
}

.Podatki_table{
    margin-top: 4vh;
    display: none;
    border-collapse: collapse;
    border-spacing: 2vw;
    border: 1px solid black
}

.Podatki_table > thead > tr{
    border-bottom: 1px solid black;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Podatki_table > * > tr > td{
    padding-right: 3vw;
    padding-left: 3vw;    
}

.Podatki_table_body > tr > td{
    text-align: center;
}

.Podatki_table > * > tr > *:nth-child(2){
    border-left: 1px solid black;  
    border-right: 1px solid black;  
}




/*Noga*/
.nogaMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.nogaMenuItem{
    color: white;
    font-size: 20px;
}

.nogaMenuItemA{
    color: white;
    padding: 1px;
    text-decoration: none;
}

.nogaMenuItemA:hover{
    border-radius: 4px;
    background-color: #787c87;
    align-items: center;
}